html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* global css variables*/
:root { 
  --colorPrimary: #0070f3; 
  --colorWhite: #f6f6f6; 
  --colorDark: #454d5e; 
  --colorSuccess:#0cac3c ; 
  --colorDanger: #c22c2c; 
  --colorDeafult: #5f6164; 

}