$color-dark: #282c34;
$color-white: #f6f6f6;

%border {
    border: 2px solid $color-white;
    border-radius: 4px;
}

.header{
    background-color: $color-dark;
    padding: 2rem 3rem;
    color: $color-white;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: fixed;
    width: 100%;
  
  }
 
  .search{
    position: relative;
    display: inline-block;
  }

  .searchContent{
    @extend %border;
    display:block;
    position: absolute;
    margin-top: -5vh;
    border-color: lightgray;
    background-color: $color-white;
    z-index: 2;
    font-size: x-large;
    color: $color-dark;
  
  }
  
.searchInput{
    @extend %border;
    background-color: $color-white;
    outline: none;
}

.suggestionList{
    overflow:scroll;
    max-height:65vmin ;
    p{
       @extend %border;
       padding: 0rem 0.25rem;
       &:hover{
        background-color: lightgray;
       }
       &:active{
        background-color: darkgray;
       }
     }

}

.button{
  :hover,
  :active{
    color: darkgray;
  }
}

.bounceIn {
    animation: bounce-in 2s ease normal;
  }
  
  @keyframes bounce-in { 
    0% {opacity: 0; transform: scale(.3);}
    50% { opacity: 1; transform: scale(1.05);}
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
  }

