.container {
  min-height: 100vh;
  padding: 12rem 3rem;
  font-size: x-large;
  background-color: var(--colorDark);
  color:  var(--colorWhite);

}

.labelSuccess{
  background-color: var(--colorSuccess);
}

.labelDanger{
  background-color:var(--colorDanger);
}

.labelDefault{
  background-color:var(--colorDeafult);
}

.labelDanger,
.labelDefault,
.labelSuccess{
  border-radius: 20px;
  padding: 5px 15px 10px 15px;
  color:white;
  font-size: large;
  margin: 2px;

}

.title {
  font-weight: bold;
}

.description,
.title{
  font-size: 1.5rem;
  line-height: 1.25;

}

.movieList{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 35vmin;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--colorPrimary);
  border-color: var(--colorPrimary);
  }

.card:active {
  box-shadow: 6px 6px var(--colorPrimary);
  transform: translateY(4px)
  }

.cardSecondary {
  color: var(--colorDark);
  background-color:  var(--colorWhite);
  width: 70%;
}

.cardSecondary,
.card{
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  border: 3px solid var(--colorWhite);
  border-radius: 10px;
}

.image{
  border-radius: 1%;
}
.btnScrollTop{
  position: fixed;
  bottom: 5vmin;
  right: 3vw;
  z-index: 1;
}